.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.header {
  display: flex;
  width: 100%;
  height: 8rem;
  min-height: 5rem;
  background-color: blue;
  align-items: center;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: yellow;
}

.index {
  width: 12rem;
  height: 100%;
  background-color: red;
}

/* TEMP BACK BUTTON */
.backbtn {
  cursor: pointer;
  height: 2.5rem;
  width: 5rem;
  margin-left: 1rem;
  border-radius: 3px;
}
