.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.header {
  display: flex;
  width: 100%;
  height: 8rem;
  min-height: 5rem;
  background-color: white;
  align-items: center;
}

.settingsbtn { 
  width: 9rem;
  
}

.settingsbtn span { 
  display:flex;
  flex-direction: row;
  justify-content: center;
}


.topheader {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  margin-left: auto;
  padding: 0.5%;
}

#profilepic { 
  margin-left: 5%;
}

.yearelement {
  margin: 0 5px;
  padding: 0 5px;
  align-items: center;
  text-align: center;
}

/** HEADER STUFF **/
/* TEMP BACK BUTTON */
.backbtn {
  cursor: pointer;
  height: 56px;
  width: 184px;
  margin-left: 1rem;
  border-radius: 3px;
}

.line {
  margin:5px 0;
  height:2px;
  background:
    repeating-linear-gradient(to right,#E3E5E5 0,#E3E5E5 5px,transparent 5px,transparent 7px)
    /*5px red then 2px transparent -> repeat this!*/
}

/* QUARTER HEADER */
.quarterheader {
  display: flex; 
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.qtrbtn {
  cursor: pointer;
  height: 56px;
  width: 300px;
  display: inline-block;
  text-align: center;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgb(107, 107, 107);
}

.index {
  width: 12rem;
  height: 100%;
  background-color: rgb(161, 161, 161);
}