.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.welcome,
.header {
  display: flex;
  width: 100%;
  height: 5rem;
  min-height: 5rem;
  background-color: var(--color-white);
}

.welcome {
  height: 30rem;
  flex-direction: column-reverse;
  align-items: center;
  color: var(--color-black);
  user-select: none;
}

.welcome h1 {
  font-size: 4.5rem;
  margin-bottom: 0.6rem;
}

.welcome h2 {
  font-size: 1.2rem;
  font-weight: 400;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 6rem;
  flex-wrap: wrap;
  max-width: 50rem;
  overflow-y: scroll;
}
