.card {
  background-color: var(--color-gray);
  border-radius: 16px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem;
  width: 300px;
  height: 300px;
  position: relative;
  color: var(--color-black);
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.2));
  margin-bottom: 1rem;
  margin: 0.7rem;
}

.trashcan {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  cursor: pointer;
  color: var(--color-black);
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: var(--color-black);
}

.addbtn {
  font-weight: 800;
  background-color: transparent;
  border: 0;
  font-size: 2.5rem;
  position: absolute;
  bottom: 0.8rem;
  right: 1.5rem;
  color: var(--color-black);
}

.rowwrap {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow-y: scroll;
}

.addbtn:hover {
  cursor: pointer;
}
