@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* Basic Clean Slate CSS Rules On All Elements */
html,
body,
* {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

.hidden {
  display: none;
}

/* Global Variables For Color Pallette */
:root {
  --color-hazard: rgb(255, 74, 74);
  --color-white: white;
  --color-black: #130f26;
  --color-gray: #f7f9fa;
  --color-green: #5ebd96;
  --color-gray-select: hsl(200, 23%, 96%);
}
