.card {
  width: 20.5rem;
  height: 7.6rem;
  margin: 1rem;
  border-width: 0;
  border-radius: 16px;
  background-color: var(--color-gray);
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.3));
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  justify-content: space-between;
  user-select: none;
}

.card:hover {
  cursor: pointer;
}

.card:active {
  background-color: var(--color-gray-select);
  transform: translate(0px, 1px);
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
}

.card p {
  text-align: left;
  margin-left: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.card h1 {
  font-size: 3.8rem;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  color: var(--color-green);
  margin-bottom: 0.5rem;
}
